In [2]:
#File to do average ensemble
import pandas as pd
#from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
df0 = pd.read_csv('lstm_submission.csv')  # 0.9811
df1 = pd.read_csv('lr_submission.csv') # 0.9788
df2 = pd.read_csv('lgb_submission.csv')  # 0.9785
df3 = pd.read_csv('gru_submission.csv') #0.9829
df4 = pd.read_csv('submission_fast_bi_lstm_cnn_multi_comp.csv') #0.9804
df5 = pd.read_csv('submission_stacking_lstm_.csv') #0.9812
df6 = pd.read_csv('submission_bias_fast_bi_lstm_stacking.csv')
df7 = pd.read_csv('submissionglove_bi_lstm_cnn_multi_stacking_comp.csv') #0.9795
df8 = pd.read_csv('submission_bias_fast_bi_lstm_cnn.csv') #0.9781
df9 = pd.read_csv('LSTM+CNN_submission.csv') #0.9840
df10 = pd.read_csv('lr_submission_2.csv') # 0.9792
df11 = pd.read_csv('gru_submission_2.csv') # 0.9833
df12 = pd.read_csv('lgbm_oof.csv') # 0.9792
df14 = pd.read_csv('oof.csv') # 0.9858

In [23]:
df_sub = pd.DataFrame()
df_sub["id"] = df0["id"]
df_sub2 = pd.DataFrame()
df_sub2["id"] = df0["id"]
df_blend = pd.DataFrame()
df_blend["id"] = df0["id"]
df_sub3 = pd.DataFrame()
df_sub3["id"] = df0["id"]
df_sub4 = pd.DataFrame()
df_sub4["id"] = df0["id"]
df_sub5 = pd.DataFrame()
df_sub5["id"] = df0["id"]
df_sub6 = pd.DataFrame()
df_sub6["id"] = df0["id"]

In [25]:
classes = ["toxic", "severe_toxic", "obscene" ,"threat", "insult" ,"identity_hate"]
for cls in classes:
    df_sub[cls] =  (minmax_scale(df0[cls])+ minmax_scale(df1[cls]) +  minmax_scale(df2[cls]) +  minmax_scale(df3[cls])) / 4 #0.9848
    df_sub2[cls] = (minmax_scale(df0[cls])  * 0.3 + minmax_scale(df1[cls]) * 0.15 + minmax_scale(df2[cls]) * 0.15 + minmax_scale(df3[cls]) * 0.4) #0.9852
    df_sub3[cls] = (minmax_scale(df9[cls]) + minmax_scale(df1[cls]) + minmax_scale(df2[cls]) +  minmax_scale(df3[cls]) ) / 4 #0.9860
    df_sub4[cls] = (minmax_scale(df9[cls]) + minmax_scale(df10[cls]) + minmax_scale(df12[cls]) +  minmax_scale(df11[cls]) ) / 4 #0.9862
    df_sub5[cls] = (minmax_scale(df9[cls]) * 0.3  + minmax_scale(df10[cls]) * 0.10 + minmax_scale(df12[cls]) * 0.10 +  minmax_scale(df11[cls]) * 0.2 + minmax_scale(df14[cls]) * 0.3) # 0.9868   
    df_sub6[cls] = ( minmax_scale(df9[cls]) * 0.2 + minmax_scale(df14[cls]) * 0.3 +  minmax_scale(df11[cls]) * 0.5 ) # 0.9866

In [26]:
df_sub.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.999204,0.342962,0.990516,0.049248,0.958289,0.366819
1,0000247867823ef7,0.003356,0.000817,0.001444,0.000087,0.002165,0.000862
2,00013b17ad220c46,0.007247,0.001125,0.003593,0.000206,0.002720,0.000512
3,00017563c3f7919a,0.001809,0.000466,0.001125,0.000255,0.001089,0.000180
4,00017695ad8997eb,0.014407,0.000570,0.002268,0.000234,0.002504,0.000336

In [27]:
df_sub2.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.998973,0.410348,0.988262,0.054535,0.948405,0.360429
1,0000247867823ef7,0.002262,0.000546,0.001013,0.000063,0.001475,0.000542
2,00013b17ad220c46,0.005499,0.000765,0.002661,0.000138,0.001954,0.000333
3,00017563c3f7919a,0.001337,0.000302,0.000812,0.000174,0.000778,0.000131
4,00017695ad8997eb,0.010097,0.000390,0.001582,0.000156,0.001765,0.000230

In [28]:
df_sub3.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.992801,0.315460,0.968130,0.083955,0.887583,0.279691
1,0000247867823ef7,0.008306,0.001385,0.004667,0.000785,0.005188,0.001879
2,00013b17ad220c46,0.009203,0.001507,0.008635,0.000820,0.004331,0.001885
3,00017563c3f7919a,0.004197,0.000968,0.002800,0.000689,0.003205,0.000735
4,00017695ad8997eb,0.023059,0.001050,0.006365,0.000806,0.006096,0.001380

In [29]:
df_sub4.head()

                 id
0  00001cee341fdb12
1  0000247867823ef7
2  00013b17ad220c46
3  00017563c3f7919a
4  00017695ad8997eb

In [30]:
df_sub5.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.994113,0.317270,0.971486,0.131153,0.900666,0.383571
1,0000247867823ef7,0.006653,0.001108,0.003738,0.000628,0.004151,0.001504
2,00013b17ad220c46,0.007422,0.001206,0.006915,0.000658,0.003474,0.001524
3,00017563c3f7919a,0.003362,0.000775,0.002241,0.000553,0.002576,0.000590
4,00017695ad8997eb,0.019070,0.000841,0.005139,0.000653,0.004953,0.001131

In [31]:
df_sub6.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.994868,0.365597,0.970595,0.166075,0.891011,0.469479
1,0000247867823ef7,0.003485,0.000564,0.001896,0.000319,0.002109,0.000776
2,00013b17ad220c46,0.004439,0.000647,0.003569,0.000350,0.001916,0.000941
3,00017563c3f7919a,0.001968,0.000391,0.001178,0.000284,0.001348,0.000307
4,00017695ad8997eb,0.011750,0.000438,0.002873,0.000358,0.002661,0.000695

In [34]:
df_sub7.set_index('id',inplace=True) 
#df_sub.to_csv("submission_mean_ensmeble_bias_and_unbias_lstm_cnn.csv")
df_sub7.to_csv("submission_lstmcnn_gru_oof.csv")

In [33]:
for i in range(0,6):
    df_corr = pd.DataFrame()
    df_corr["lstm_" + classes[i]] = df0[classes[i]]
    df_corr["lr" + classes[i]] = df1[classes[i]]
    df_corr["lgb" + classes[i]] = df2[classes[i]]
    df_corr["gru" + classes[i]] = df3[classes[i]]
    #df_corr["lstm_cnn" + classes[i]] = df4[classes[i]]
    #df_corr["stack_lstm" + classes[i]] = df5[classes[i]]
    #df_corr["bias" + classes[i]] = df6[classes[i]]
    #df_corr["glove_lstm_cnn" + classes[i]] = df7[classes[i]]
    #df_corr["bias_lstm_cnn" + classes[i]] = df8[classes[i]]
    df_corr["lstm_cnn_other" + classes[i]] = df9[classes[i]]
    print(df_corr.corr())

                     lstm_toxic   lrtoxic  lgbtoxic  grutoxic  \
lstm_toxic             1.000000  0.958237  0.943331  0.949268
lrtoxic                0.958237  1.000000  0.954439  0.902370
lgbtoxic               0.943331  0.954439  1.000000  0.901493
grutoxic               0.949268  0.902370  0.901493  1.000000
lstm_cnn_othertoxic    0.948548  0.922091  0.917734  0.945200

                     lstm_cnn_othertoxic
lstm_toxic                      0.948548
lrtoxic                         0.922091
lgbtoxic                        0.917734
grutoxic                        0.945200
lstm_cnn_othertoxic             1.000000
                            lstm_severe_toxic  lrsevere_toxic  \
lstm_severe_toxic                    1.000000        0.882520
lrsevere_toxic                       0.882520        1.000000
lgbsevere_toxic                      0.819007        0.869984
grusevere_toxic                      0.853394        0.820519
lstm_cnn_othersevere_toxic           0.852045        0.826007

                            lgbsevere_toxic  grusevere_toxic  \
lstm_severe_toxic                  0.819007         0.853394
lrsevere_toxic                     0.869984         0.820519
lgbsevere_toxic                    1.000000         0.787305
grusevere_toxic                    0.787305         1.000000
lstm_cnn_othersevere_toxic         0.807567         0.895320

                            lstm_cnn_othersevere_toxic
lstm_severe_toxic                             0.852045
lrsevere_toxic                                0.826007
lgbsevere_toxic                               0.807567
grusevere_toxic                               0.895320
lstm_cnn_othersevere_toxic                    1.000000
                       lstm_obscene  lrobscene  lgbobscene  gruobscene  \
lstm_obscene               1.000000   0.955631    0.946568    0.961004
lrobscene                  0.955631   1.000000    0.950387    0.927292
lgbobscene                 0.946568   0.950387    1.000000    0.934366
gruobscene                 0.961004   0.927292    0.934366    1.000000
lstm_cnn_otherobscene      0.942662   0.924672    0.924820    0.944702

                       lstm_cnn_otherobscene
lstm_obscene                        0.942662
lrobscene                           0.924672
lgbobscene                          0.924820
gruobscene                          0.944702
lstm_cnn_otherobscene               1.000000
                      lstm_threat  lrthreat  lgbthreat  gruthreat  \
lstm_threat              1.000000  0.843383   0.784663   0.783307
lrthreat                 0.843383  1.000000   0.831536   0.799962
lgbthreat                0.784663  0.831536   1.000000   0.750866
gruthreat                0.783307  0.799962   0.750866   1.000000
lstm_cnn_otherthreat     0.762841  0.780475   0.738612   0.829510

                      lstm_cnn_otherthreat
lstm_threat                       0.762841
lrthreat                          0.780475
lgbthreat                         0.738612
gruthreat                         0.829510
lstm_cnn_otherthreat              1.000000
                      lstm_insult  lrinsult  lgbinsult  gruinsult  \
lstm_insult              1.000000  0.939258   0.909774   0.931824
lrinsult                 0.939258  1.000000   0.922038   0.889969
lgbinsult                0.909774  0.922038   1.000000   0.891474
gruinsult                0.931824  0.889969   0.891474   1.000000
lstm_cnn_otherinsult     0.934355  0.907889   0.899177   0.929391

                      lstm_cnn_otherinsult
lstm_insult                       0.934355
lrinsult                          0.907889
lgbinsult                         0.899177
gruinsult                         0.929391
lstm_cnn_otherinsult              1.000000
                             lstm_identity_hate  lridentity_hate  \
lstm_identity_hate                     1.000000         0.889496
lridentity_hate                        0.889496         1.000000
lgbidentity_hate                       0.818207         0.862635
gruidentity_hate                       0.870867         0.813082
lstm_cnn_otheridentity_hate            0.839402         0.791506

                             lgbidentity_hate  gruidentity_hate  \
lstm_identity_hate                   0.818207          0.870867
lridentity_hate                      0.862635          0.813082
lgbidentity_hate                     1.000000          0.814887
gruidentity_hate                     0.814887          1.000000
lstm_cnn_otheridentity_hate          0.805430          0.885794

                             lstm_cnn_otheridentity_hate
lstm_identity_hate                              0.839402
lridentity_hate                                 0.791506
lgbidentity_hate                                0.805430
gruidentity_hate                                0.885794
lstm_cnn_otheridentity_hate                     1.000000

In [8]:
df_corr.corr()

             toxic  df1toxic  df2toxic
toxic     1.000000  0.922413  0.901814
df1toxic  0.922413  1.000000  0.981273
df2toxic  0.901814  0.981273  1.000000

In [58]:
"""
scaler = MinMaxScaler(feature_range=(0, 1)) 
ls = []
classes = ["toxic", "severe_toxic", "obscene" ,"threat", "insult" ,"identity_hate"]
for cls in classes:
    print(cls)
    for i in range(0,len(df0[cls])):
        ls.append([df0[cls][i] ,df1[cls][i], df2[cls][i]])
    scaler.fit(ls)
    a = scaler.transform(ls)
"""

toxic
severe_toxic

KeyboardInterrupt: